@viewport {
	width: device-width;
}

@-ms-viewport{
	width: device-width;
}

/* ---------- iPad Only ---------- */
@media only screen and (device-width: 768px) {
  .ipad-only { display: block; }
}

/* ---------- iPhone/iPod Only ---------- */
@media only screen and (device-width: 320px) {
  .iphone-only { display: block; }
}

/* ---------- Retina Device Only ---------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .retina-only { display: block; }
}

/* ---------- Non Retina Device Only ---------- */
@media only screen and (-webkit-max-device-pixel-ratio: 1) {
  .non-retina-only { display: block; }
}

/* ---------- Retina iPhone/iPod Only ---------- */
@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .retina-iphone-only { display: block; }
}

/* ---------- Non Retina iPhone/iPod Only ---------- */
@media only screen and (device-width: 320px) and (-webkit-max-device-pixel-ratio: 1) {
  .non-retina-iphone-only { display: block; }
}

/* ---------- 1080p HD Screen ---------- */
@media only screen and (min-width: 1500px) {

	body.audio #panel-3 p {
		position: absolute;
		width: 470px;
		top: 372px;
		left: 450px;
		font-size: 18px;
	}

	body.audio #panel-3 div.grid-item:nth-child(even) p {
		left: 100px;
	}
}

/* ---------- Standard Laptop Screen ---------- */
@media only screen and (min-width: 1100px) and (max-width: 1290px) {

	body.audio #panel-3 p {
		top: 235px;
		width: 440px;
		left: 180px
	}

	body.audio #panel-3 div.grid-item:nth-child(even) p {
		left: 60px;
	}

}