/** FONTS **/

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=f0c9dd27-cd15-4357-b553-76f865520d32&fontids=694355,694358");

@font-face {
	font-family:"Didot W02 Roman";
	src:url("../Fonts/694355/44c137d9-c4c5-4ec7-99c6-b288854a5a4c.eot?#iefix");
	src:url("../Fonts/694355/44c137d9-c4c5-4ec7-99c6-b288854a5a4c.eot?#iefix") format("eot"),url("../Fonts/694355/3ced57ea-930a-4a35-b65b-2a1e482858f0.woff") format("woff"),url("../Fonts/694355/dfee02f2-2061-49e4-86f1-c7d9cf822527.ttf") format("truetype"),url("../Fonts/694355/41fb3b38-51d1-4fc4-8be8-fcf207ade3c4.svg#41fb3b38-51d1-4fc4-8be8-fcf207ade3c4") format("svg");
}
@font-face {
	font-family:"Didot W02 Italic";
	src:url("../Fonts/694358/2f50937c-d04a-4785-90e2-c0ea941afa28.eot?#iefix");
	src:url("../Fonts/694358/2f50937c-d04a-4785-90e2-c0ea941afa28.eot?#iefix") format("eot"),url("../Fonts/694358/5c08ac2f-b8ec-4fc7-9369-fe3cf967808f.woff") format("woff"),url("../Fonts/694358/9cc897c4-3032-4590-a9d9-25b5827d6d3a.ttf") format("truetype"),url("../Fonts/694358/54d7b27d-e7e7-4e5d-8371-b079d9c1cbc3.svg#54d7b27d-e7e7-4e5d-8371-b079d9c1cbc3") format("svg");
}


/** GENERAL **/
body, html {
	background: #000;
	color: #FFF;
	font-family: "Didot W02 Italic", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

a {
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background 1s ease-in;
	transition:color .2s ease-out, background 1s ease-in;
}
span.heading,
span.subheading {
	text-transform: uppercase;
	text-align: center
}

span.heading {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 67px;
	font-style: normal;
	letter-spacing: 6px;
	word-spacing: 1px;
}

span.subheading {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 22px;
	font-style: italic;
	display: block;
	letter-spacing: 4px;
	word-spacing: 3px;
}

div.panel {
	width: 100%;
	margin: 300px 0 0 0;
	padding: 0;
	z-index: 10;
	position: relative;
	min-height:100px;
}

div.panel-container,
nav.header {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
}

nav.header {
	margin: 0 auto 50px;
}

nav.header ul {
	float: right;
	width: 100%

}

nav.header li {
	display: inline-block;
	margin-left: 35px;
	position: relative;
	bottom: 75px;
}

nav.header li.logo {
	margin-right: 35px;
	bottom: 0;
}

nav.header li a {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	color: #FFF;
	font-style: normal;
	text-decoration: none;
	letter-spacing: 5px;
}

nav.header li a.selected,
nav.header li a:hover {
	color: #244FA6;
}

/** HOME SPECIFIC **/

body.home #panel-1 {
	text-align: center;
	margin-top: 0;
}

body.home p.quote {
	font-size: 31px;
	padding: 0 25px;
	margin-top: 7px;
	line-height: 42px;
}

ul#portfolio li {
	float: left;
	width: 230px;
	height: 132px;
	display: inline;
	margin-top: 31px;
	text-align: center;
	line-height:132px;
}

ul#portfolio li a img {
	vertical-align: middle;
}

body.home div#panel-2 {
	background-color: rgba(23, 22, 22, 0.7);
	padding: 60px 0;
}

body.home div#panel-2 a img {
	opacity: .7;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

body.home div#panel-2 a img:hover {
	opacity: 1;
}

#map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.full-width {
	max-width: none;
}

body.home #panel-3 .panel-container {
	background-color: rgb(44, 46, 48);
}

#video,
#audio,
#photography,
#design {
	width: 50%;
	padding: 0;
	position: relative;
	overflow: hidden;
	background-color: rgba(44, 46, 48, 1);
}

#video h2,
#audio h2,
#photography h2,
#design h2 {
	font-size: 25px;
	font-weight: normal;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	letter-spacing: 6px;
	word-spacing: 19px;
	text-transform: uppercase;
	position: absolute;
	z-index: 10
}

div.img {
	background-color: rgba(44, 46, 48, .3);
	position: relative;
	z-index: 1;
	opacity: .3
}

div.img {
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

div.img:hover {
	opacity: 1
}

#video img,
#audio img,
#photography img,
#design img {
	max-width: 100%;
}

#video {
	float: left;
}

#audio {
	float: right;
}

#photography {
	float: left;
	clear: left;
}

#design {
	float: right;
	clear: right;
}

/** BIG VIDEO **/
#big-video-wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
#big-video-vid,
#big-video-image {
    position: absolute
}
#big-video-control-container {
    position: fixed;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
#big-video-control {
    width: 100%;
    height: 16px;
    position: relative;
}
#big-video-control-middle {
    margin: 0 56px 0 24px
}
#big-video-control-bar {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
}
#big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0%;
    background: #fff;
}
#big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: #fff;
}
#big-video-control-bound-left {
    left: 0
}
#big-video-control-bound-right {
    right: -1px
}
#big-video-control-track .ui-slider-handle {
    opacity: 0
}
#big-video-control-playhead {
    left: 30%
}
#big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url('bigvideo.png');
}
#big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: #fff;
    font-size: 11px;
}
#big-video-control-playhead,
#big-video-control-bound-left,
#big-video-control-bound-right {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: #fff;
}
#big-video-control .ui-slider-handle {
    border-left: solid 1px #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
}
.transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.vjs-big-play-button {
    display: none !important
}