/** GENERAL **/
body, html {
	background: #000;
	color: #FFF;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	padding: 0;
}
a {
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background 1s ease-in;
	transition:color .2s ease-out, background 1s ease-in;
}
span.heading,
span.subheading {
	text-transform: uppercase;
	text-align: center
}

span.heading {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 67px;
	font-style: normal;
	letter-spacing: 6px;
	word-spacing: 19px;
}

span.subheading {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 22px;
	font-style: italic;
	display: block;
	letter-spacing: 4px;
	word-spacing: 3px;
}

div.panel {
	width: 100%;
	margin: 300px 0 0 0;
	padding: 0;
	z-index: 10;
	position: relative;
	min-height:100px;
}

div.panel-container,
nav.header {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: auto;
}

nav.header {
	margin: 34px auto 135px;
}

nav.header ul {
	float: right;
	width: 100%

}

nav.header li {
	display: inline-block;
	margin-left: 35px;
	position: relative;
	bottom: 75px;
}

nav.header li.logo {
	margin-right: 35px;
	bottom: 0;
}

nav.header li a {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	color: #FFF;
	font-style: normal;
	text-decoration: none;
	letter-spacing: 5px;
}

nav.header li a.selected,
nav.header li a:hover {
	color: #244FA6;
}

/** HOME SPECIFIC **/

body.home #panel-1 {
	text-align: center;
	margin-top: 0;
}

body.home p.quote {
	font-size: 31px;
	padding: 0 25px;
	margin-top: 7px;
	line-height: 42px;
}

ul#portfolio li {
	float: left;
	width: 230px;
	height: 132px;
	display: inline;
	margin-top: 31px;
	text-align: center;
	line-height:132px;
}

ul#portfolio li a img {
	vertical-align: middle;
}

body.home div#panel-2 {
	background: #171616;
	opacity: .7;
	padding: 135px 0;
}

/** BIG VIDEO **/
#big-video-wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
#big-video-vid,
#big-video-image {
    position: absolute
}
#big-video-control-container {
    position: fixed;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
#big-video-control {
    width: 100%;
    height: 16px;
    position: relative;
}
#big-video-control-middle {
    margin: 0 56px 0 24px
}
#big-video-control-bar {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
}
#big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0%;
    background: #fff;
}
#big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: #fff;
}
#big-video-control-bound-left {
    left: 0
}
#big-video-control-bound-right {
    right: -1px
}
#big-video-control-track .ui-slider-handle {
    opacity: 0
}
#big-video-control-playhead {
    left: 30%
}
#big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url('bigvideo.png');
}
#big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: #fff;
    font-size: 11px;
}
#big-video-control-playhead,
#big-video-control-bound-left,
#big-video-control-bound-right {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: #fff;
}
#big-video-control .ui-slider-handle {
    border-left: solid 1px #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
}
.transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.vjs-big-play-button {
    display: none !important
}